
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.yml
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - DATABASE_URL_ALEMBIC=${DATABASE_URL_ALEMBIC}
      - PYTHON_DEBUG=${PYTHON_DEBUG}
    depends_on: 
      bankydb:
        condition: service_healthy
    restart: unless-stopped
    ports:
      - "8030:8000" # FastAPI aplication
      - "5678:5678" # Debugpy
    volumes:
      - .:/app
    command: >
      python -m debugpy --listen 0.0.0.0:5678
      -m uvicorn app.api.main:app --host 0.0.0.0 --port 8000 --reload

  bankydb:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped
    ports:
      - "15432:${POSTGRES_PORT}"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
volumes:
  pgdata:
